.header {
  background-color: #19191c;
  padding: 0 64px;
  height: 64px;
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logoIconWrapper {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  width: 36px;
  height: 36px;
}

.logoText {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}
