.contentCard {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 0) 85%
    ),
    var(--team-vibe-bg);
  background-size: 100%, 70%;
  background-position:
    left center,
    right center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .contentCard {
    background-image:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 45%,
        rgba(0, 0, 0, 0.7) 60%,
        rgba(0, 0, 0, 0.3) 80%,
        rgba(0, 0, 0, 0) 95%
      ),
      var(--team-vibe-bg);
    background-size: 100%, 60%;
  }
}

@media (max-width: 767px) {
  .contentCard {
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0.5) 70%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      var(--team-vibe-bg);
    background-size: 100%, cover;
    background-position:
      top center,
      center;
  }
}
