<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluenet.web.infrastructure.repository.mapper.AssessmentQuestionMapper">
    <resultMap id="BaseResultMap" type="com.bluenet.web.infrastructure.repository.dataobject.AssessmentQuestionDO">
        <id column="id" property="id"/>
        <result column="assessment_time_id" property="assessmentTimeId"/>
        <result column="question_no" property="questionNo"/>
        <result column="question_type" property="questionType"/>
        <result column="title" property="title"/>
        <result column="content" property="content" typeHandler="com.bluenet.web.infrastructure.repository.handler.QuestionContentTypeHandler"/>
        <result column="attachment_id" property="attachmentId"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="countByAssessmentTimeId" resultType="long">
        SELECT COUNT(*)
        FROM tb_assessment_question
        WHERE assessment_time_id = #{assessmentTimeId}
    </select>

    <select id="countByAssessmentTimeIds" resultType="com.bluenet.web.infrastructure.repository.dataobject.AssessmentQuestionCountResult">
        SELECT assessment_time_id AS assessmentTimeId, COUNT(*) AS count
        FROM tb_assessment_question
        WHERE assessment_time_id IN
        <foreach collection="assessmentTimeIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY assessment_time_id
    </select>

    <select id="selectPageByAssessmentTimeId" resultMap="BaseResultMap">
        SELECT *
        FROM tb_assessment_question
        WHERE assessment_time_id = #{assessmentTimeId}
        ORDER BY question_no ASC
    </select>

    <select id="selectByAssessmentTimeIdAndQuestionNo" resultMap="BaseResultMap">
        SELECT *
        FROM tb_assessment_question
        WHERE assessment_time_id = #{assessmentTimeId}
          AND question_no = #{questionNo}
        LIMIT 1
    </select>

    <select id="selectFirstByAttachmentId" resultMap="BaseResultMap">
        SELECT *
        FROM tb_assessment_question
        WHERE attachment_id = #{attachmentId}
        LIMIT 1
    </select>
</mapper>
