<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluenet.web.infrastructure.repository.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.bluenet.web.infrastructure.repository.dataobject.CommentDO">
        <id column="id" property="id"/>
        <result column="answer_id" property="answerId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="score" property="score"/>
        <result column="comment_time" property="commentTime"/>
    </resultMap>
</mapper>
